<div class="row">
    <div class="col-md-12">
        <h1>Product</h1>
    </div>
    <div class="col-md-12">
        <div *ngIf="alert.success.status" class="alert alert-success" role="alert">
            {{alert.success.msg}}
        </div>
        <div *ngIf="alert.danger.status" class="alert alert-danger" role="alert">
            {{alert.danger.msg}}
        </div>
        <div *ngIf="alert.warning.status" class="alert alert-warning" role="alert">
            {{alert.warning.msg}}
        </div>
    </div>
    <div class="col-md-12">
        <div class="ml-5 mr-5 p-2 bgwhitesmoke">
            <!-- <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="inp-username">Username</label>
                    <input [(ngModel)]="userModel.username" name="username" type="email" autocomplete="off"
                        placeholder="Johndoe" class="form-control" id="inp-username" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Anyone can see your username.</small>
                </div>
                <div class="form-group">
                    <label for="inp-password">Password</label>
                    <input [(ngModel)]="userModel.password" name="password" type="password" placeholder="****"
                        class="form-control" id="inp-password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form> -->
        </div>
    </div>
</div>