<div class="row">
    <div class="col-md-12">
        <h1>Product</h1>
        <div *ngIf="spinnerProgress" class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="col-md-12">
        <div *ngIf="alert.success.status" class="alert alert-success" role="alert">
            {{alert.success.msg}}
        </div>
        <div *ngIf="alert.danger.status" class="alert alert-danger" role="alert">
            {{alert.danger.msg}}
        </div>
        <div *ngIf="alert.warning.status" class="alert alert-warning" role="alert">
            {{alert.warning.msg}}
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <form class="form-inline my-2 my-lg-0 text-right">
                    <input [(ngModel)]="search" (keyup)="searchProduct()" name="search" class="form-control mr-sm-2" type="search" placeholder="name, code" aria-label="Search">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="ml-5 mr-5 p-2 bgwhitesmoke">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Product Code</th>
                    <th scope="col">Price</th>
                    <th scope="col">Manage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of productModel; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                        {{product.name}}
                        <br>
                        <small class="text-muted text-break">
                            {{product.description}}
                        </small> 
                    </td>
                    <td>{{product.productCode}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <button type="button" class="m-1 btn btn-success">See</button>
                        <button type="button" class="m-1 btn btn-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>